<div class="form_input">
  <%= form_for articles do |article| %>
    <div class="title_input">
      <%= article.text_field :title, placeholder: "タイトル" %>
    </div>
    <div class="input_image">
      <%= article.file_field :thumbnail, placeholder: "サムネイル" %>
    </div>
    <div class="input_cotegory">
      <%= article.date_select :cotegory, placeholder: "カテゴリー" %>
    </div>
    <div class="input_content">
      <%= article.text_area :content, placeholder: "本文" %>
    </div>
    <div class="clearfix">
      <input class="delete_btn" type="submit"  value="Delete" id="submit_btn">
      <input class="submit_btn" type="submit" value="Sent" id="submit_btn">
    </div>
  <% end %>
</div>
