<div class="form_input clearfix">
  <%= form_for @article do |article| %>
    <div class="title_input">
      <%= article.text_field :title, placeholder: "タイトル", class: "title_btn" %>
    </div>
    <div class="input_image">
      <label for="article_thumbnail" class="file">
      <i class="fa fa-camera fa-5x"></i>
      <%= article.file_field :thumbnail, placeholder: "サムネイル", class: "thumbnail_btn" %>
      </label>
    </div>
    <div class="input_cotegory">
      <%= article.select :cotegory_id, @categories, {}, { class: "cotegory_btn"} %>
    </div>
    <div class="input_content">
      <%= article.text_area :content, placeholder: "本文" %>
    </div>
    <div class="submit_btn clearfix">
      <%= article.submit placeholder: "Sent", class: "submit_btn" %>
    </div>
  <% end %>
</div>
