<div class="form_input">
  <%= form_for @article do |article| %>
    <div class="title_input">
      <%= article.text_field :title, placeholder: "タイトル", class: "title_btn" %>
    </div>
    <div class="input_image">
      <label for="file" class="file">
      <img src="http://us.123rf.com/450wm/mostic/mostic1504/mostic150400131/38569089-%E7%B4%99%E3%82%AF%E3%83%AA%E3%83%83%E3%83%97%E3%81%AE%E8%A8%98%E5%8F%B7%E3%82%A2%E3%82%A4%E3%82%B3%E3%83%B3%E3%80%82%E3%82%AF%E3%83%AA%E3%83%83%E3%83%97-%E3%82%B7%E3%83%B3%E3%83%9C%E3%83%AB%E3%80%82%E6%B7%BB%E4%BB%98%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%81%AE%E3%83%9C%E3%82%BF%E3%83%B3.jpg" height="70px" width="70px">
      <%= article.file_field :thumbnail, placeholder: "サムネイル", class: "thumbnail_btn" %>
      </label>
    </div>
    <div class="input_cotegory">
      <%= article.select :cotegory_id, @categories, {}, { class: "cotegory_btn"} %>
    </div>
    <div class="input_content">
      <%= article.text_area :content, placeholder: "本文" %>
    </div>
    <div class="clearfix">
      <%= article.submit placeholder: "Sent", class: "submit_btn" %>
    </div>
  <% end %>
</div>
