<div class="contents">
  <div class="content_top clearfix">
    <div class="article_thumbnail">
      <div class="test_image"><%= image_tag @article.thumbnail %></div>
    </div>
    <div class="article_title">
        <p><%= @article.title %></p>
    </div>
    <% if user_signed_in? && current_user.id == @article.user_id %>
      <pre>
        <div id="overlay">
         <div class="btn_edit">
          <%= link_to '記事を編集', "/articles/#{@article.id}/edit", method: :get %>
        </div>
        <div class="btn_edit">
          <%= link_to '記事を削除', "/articles/#{@article.id}", method: :delete %>
        </div>
          <p id="close">close</p>
        </div>
        <div id="edit_btn"><i class="fa fa-cog fa-3x"></i></div>
      </pre>
    <%end%>
    <div class="article_clip">
    <% if user_signed_in? %>
      <% if @cliped.present? %>
        <div class="clip_btn">
          <% @cliped.each do |f| %>
            <%= link_to 'clip削除', clip_path(f), method: :delete %>
          <% end %>
        </div>
      <% else %>
        <div class="clip_btn">
          <%= link_to "clip", clips_path(article_id: @article.id ), method: :post %>
        </div>
      <% end%>
    <% else %>
    <div class="clip_btn">
        <%= link_to "clip", '/users/sign_in', method: :get %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="content_bottom">
    <div class="text_content">
      <%= raw(@article.content) %>
    </div>
  </div>
</div>