<div class="contents">
  <div class="content_top clearfix">
    <div class="article_thumbnail">
      <div class="test_image"><%= image_tag(@article.thumbnail) %></div>
    </div>
    <div class="article_title">
        <p><%= @article.title %></p>
    </div>
    <div class="article_clip">
      <div class="clip_btn">
        <%= form_for @clip do |clip| %>
            <%= clip.hidden_field :article_id %>
            <%= clip.submit "clip"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="content_bottom">
    <div class="test_content">
      <%= raw(@article.content) %>
    </div>
  </div>
</div>