<div class="article_post clearfix">
    <div class="article_left">
      <%= image_tag(article.thumbnail) %>
    </div>
    <div class="article_right">
      <%= link_to article.title, article_path(article), method: :get %>
    </div>
    <div class="article_right2">
      <%= link_to article.category.name, category_path(article.category), method: :get %>
    </div>
    <div class="edit_btn">
      <span><i class="fa fa-cog fa-3x"></i></span>
      <ul class="user_list">
        <li>
          <%= link_to '編集', "/articles/#{article.id}/edit", method: :get %>
        </li>
        <li>
          <%= link_to '削除', "/article/#{article.id}", method: :delete %>
       </li>
      </ul>
    </div>
</div>